@media screen and (max-width: 710px) {
  .header {
    width: 100%;
    height: 600px;
    position: relative;
    background-color: #32A7B8;
  }
  .header .nav {
    width: 100%;
    height: 55px;
    line-height: 55px;
    padding: 0 24px;
    box-sizing: border-box;
    position: relative;
    background-color: #333;
  }
  .header .nav a {
    color: #fff;
    display: block;
  }
  .header .nav .name {
    float: left;
    font-size: 20px;
  }
  .header .nav .nav_tit {
    float: right;
    width: 100%;
    background-color: #333;
    position: absolute;
    bottom: -247px;
    left: 0;
    display: none;
    padding: 0;
    padding-bottom: 10px;
  }
  .header .nav .nav_tit li {
    float: left;
    font-size: 15px;
    line-height: 28px;
    width: 100%;
    box-sizing: border-box;
    padding: 0 12px;
  }
  .header .nav .btn {
    display: block;
    float: right;
    font-size: 20px;
    color: #fff;
  }
  .header .nav_m {
    width: 80%;
    height: 260px;
    margin: 0 auto;
    margin-top: 100px;
    color: #fff;
    text-align: center;
  }
  .header .nav_m h1 {
    font-size: 50px;
    font-weight: bold;
  }
  .header .nav_m p {
    line-height: 40px;
    font-size: 16px;
    font-weight: bold;
  }
  .header .nav_m button {
    width: 180px;
    height: 60px;
    line-height: 60px;
    background-color: #0a6875;
    border: none;
    border-radius: 5px;
    color: #fff;
    margin-top: 35px;
  }
  .header .nav_m button:hover {
    background-color: #05434b;
    text-decoration: underline;
  }
  .header .nav_bg {
    width: 80%;
    margin: 0 auto ;
    position: absolute;
    bottom: -6px;
    left: 10%;
    background: url(imgs/bg2.png) no-repeat;
    background-position: center bottom ;
    background-size: 95% 65%;
    overflow: hidden;
  }
  .header .nav_bg img {
    width: 100%;
    height: 100%;
    margin-top: 10px;
  }
  .box {
    width: 100%;
    height: 300px;
    margin-top: 30px;
  }
  .box .box_con {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
  .box .box_con h1 {
    font-size: 45px;
    padding: 0 20px;
    font-weight: bold;
  }
  .box .box_con p {
    font-size: 18px;
  }
  .box .box_con p a {
    color: #34a7b8;
  }
  .box .box_con p a:hover {
    color: #0a6875;
    text-decoration: underline;
  }
  .box .box_con .line {
    background-color: #34a7b8;
    width: 203px;
    height: 1px;
    margin: 40px auto;
  }
  .content {
    width: 100%;
  }
  .content .title {
    width: 80%;
    height: 72px;
    font-weight: bolder;
    font-size: 50px;
    text-align: center;
    margin: 50px auto;
    margin-top: 80px;
  }
  .content .fea_content {
    width: 80%;
    margin: 0 auto;
  }
  .content .fea_content .fea_con {
    display: block;
  }
  .content .fea_content .fea_con .l {
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }
  .content .fea_content .fea_con .l h4 {
    font-size: 25px;
    font-weight: normal;
    line-height: 40px;
  }
  .content .fea_content .fea_con .l h5 {
    font-size: 18px;
    font-weight: normal;
  }
  .content .fea_content .fea_con .r {
    width: 100%;
    height: 40%;
    margin: 0 auto;
    margin-top: 10px;
  }
  .content .fea_content .fea_con .r img {
    width: 100%;
    height: 100%;
  }
  .content .fea_content .line {
    background-color: #34a7b8;
    width: 203px;
    height: 1px;
    margin: 40px auto;
    overflow: hidden;
  }
  .content .logo {
    width: 100%;
  }
  .content .logo .logo1_con {
    width: 80%;
    height: 130px;
    margin: 0 auto;
    text-align: center;
  }
  .content .logo .logo1_con button {
    width: 200px;
    height: 50px;
    line-height: 50px;
    color: #fff;
    background-color: #33a7b8;
    border: none;
    border-radius: 8px;
    font-size: 18px;
  }
  .content .logo .logo1_con button :hover {
    background-color: #0a6875;
  }
  .content .logo .logo1_con p:nth-of-type(2) {
    margin-top: 20px;
  }
  .content .logo .line {
    background-color: #34a7b8;
    width: 203px;
    height: 1px;
    margin: 40px auto;
  }
  .content .logo1 {
    width: 100%;
  }
  .content .logo1 .logo1_con {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
  .content .logo1 .logo1_con img {
    width: 250px;
    height: 194px;
    margin: 0 auto;
  }
  .content .logo1 .line {
    background-color: #34a7b8;
    width: 203px;
    height: 1px;
    margin: 40px auto;
  }
  .footer {
    width: 100%;
    background-color: #191e2b;
    height: 450px;
  }
  .footer ul {
    width: 100%;
    padding: 20px;
    margin: 0 auto;
    color: #fff;
    box-sizing: border-box;
  }
  .footer ul li {
    width: 100%;
    height: 100px;
  }
  .footer ul li h5 {
    font-size: 16px;
    font-weight: normal;
    line-height: 40px;
  }
  .footer ul li p {
    color: #34a7b8;
    font-size: 14px;
    line-height: 30px;
  }
  .footer ul li p:hover {
    text-decoration: underline;
    color: #fff;
  }
  .footer ul li .back1 {
    width: 40px;
    height: 40px;
    line-height: 40px;
    float: left;
    margin-right: 15px;
    text-align: center;
    border-radius: 5px;
    background-color: #3b5998;
  }
  .footer ul li .back1 i {
    font-size: 35px;
    color: #fff;
  }
  .footer ul li .back2 {
    width: 40px;
    height: 40px;
    line-height: 40px;
    float: left;
    text-align: center;
    border-radius: 5px;
    background-color: #56acee;
  }
  .footer ul li .back2 i {
    font-size: 35px;
    color: #fff;
  }
  .message {
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    border-radius: 50%;
    background-color: #2d9bac;
    position: fixed;
    bottom: 15px;
    right: 15px;
  }
  .message i {
    color: #fff;
    font-size: 25px;
  }
}
